<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/style.css">

  <title>Form</title>
</head>

<body>

  <div id="formSteps">
    <section id="firstStep" v-if="step == 1">
      <h2>Информация</h2>
      
      <span class="text-danger" >{{ errorMessage }}</span>

      <div class="d-flex flex-column my-3">
        <label for=""><span class="text-danger">*</span>ИМЕ</label>
        <input v-model="form.name" v-bind:class="{error: form.hasErrors}" type="text" class="w-75">
      </div>
      <div class="d-flex flex-column my-3">
        <label for=""><span class="text-danger">*</span>EMAIL</label>
        <input v-model="form.email" v-bind:class="{error: form.hasErrors}" type="email" class="w-75" required>
      </div>
      <div class="d-flex flex-column my-3">
        <label for="quantity"><span class="text-danger">*</span>БРОЙ КАРТИ</label>
        <select v-model="form.quantity" id="quantity" name="quantity" class="w-75">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
      <div class="d-flex flex-column my-3">
        <label for="deliveryMethod"><span class="text-danger">*</span>НАЧИН НА ПОЛУЧАВАНЕ</label>
        <select v-model="form.deliveryMethod" @change="onChange()" id="deliveryMethod" name="deliveryMethod"
          class="w-75">
          <option value="Магазин">От магазин</option>
          <option v-bind:value="form.deliveryToAddress" id="deli">Доставка до адрес</option>
          <option v-bind:value="form.ekont">Еконт</option>
        </select>
      </div>
    </section>

<!-- Step 2 -->
    <section id="secondStep" v-if="step == 2">
      <h2 class="mb-3">Начин на получаване</h2>

      <div v-if="selectOption == 0">
        <p>Можете да получите своята карта срещу предоставяне на ваучер в следните обекти в центъра на София:</p>
        <p class="font-weight-bold">1. Магазин “Балканско” пл. „Княз Александър I“ 1</p>
        <p>или</p>
        <p class="font-weight-bold">2. Магазин “Балканско” бул. „Витоша“ 4</p>
        <p> Необходимо е да предоставите своя ваучер - електронен или принтиран вариант</p>
      </div>

      <span class="text-danger" >{{ errorMessage }}</span>

      <div v-if="!selectOption == 0" class="d-flex flex-column w-50">
        <label for=""><span class="text-danger">*</span>АДРЕС / ОФИС НА ЕКОНТ</label>
        <input v-model="address" type="text" v-bind:class="{ error: errors}">
      </div>
      <form action="post" class="secondStep">
        <div>
          <label for=""> <span class="text-danger">*</span> КОД НА ДЪРЖАВА / ТЕЛ. НОМЕР</label>
          <div class="d-flex">
            <input class="w-0" type="number" placeholder="+359" required>
            <input type="number" v-model="phoneNumber" class="tel-input" v-bind:class="{ error: errors}">
          </div>
        </div>
        <div>
          <label for="">ОТКЪДЕ РАЗБРАХТЕ ЗА SOFUN?</label>
          <div>
            <select v-model="sofanAdvertising" @change="changeOption" name="" id="" class="w-50">
              <option value="fr">Приятел или колега</option>
              <option value="fb">Facebook</option>
              <option value="ing">Instagram</option>
              <option value="other">Друго</option>
            </select>
          </div>
        </div>
        <div v-if="sofanAdvertising == 'other'" class="d-flex flex-column">
          <label for="">МОЛЯ ПОСОЧЕТЕ</label>
          <input class="w-50" type="text">
        </div>
      </form>
    </section>

<!-- Step 3 -->
    <section id="thirdStep" v-if="step == 3">
      <h2 class="mb-3">Потвърждение</h2>
      <div class="d-flex">
        <div class="pr-5">
          <p><b>Име:</b> {{form.name}}</p>
          <p><b>Email:</b> {{form.email}}</p>
          <p><b>Телефон:</b> {{phoneNumber}} </p>
        </div>
        <div>
          <p><b>Начин на получаване: </b> {{form.deliveryMethod}} </p>
          <p><b>Брой карти:</b>({{form.quantity}})</p>
          <p><b>Крайна цена:</b> <span class="text-danger">{{totalPrice}}лв.({{priceEuro}}€)<span></p>
        </div>
      </div>
    </section>

<!-- buttons -->
    <div class="my-3 " >
      <button @click.prevent="prevStep" v-if=" step != 1"> Назад </button>
      <button @click.prevent="nextStep" class="btn-next" v-if=" step == 1"> Напред </button>
      <button @click.prevent="validateNumber" class="btn-next" v-if="selectOption == 0 && step == 2"> Напред  </button>
      <button @click.prevent="validateAddress" class="btn-next" v-if="selectOption !== 0  && step == 2"> Напред  </button>
      <button @click.prevent="submitIt" class="btn-next" v-if=" step != 1 && step !=2"> Потвърди </button>
    </div>

<!-- total price section -->
    <div id="overview" class="w-75">
      <div class="d-flex flex-column align-items-end border-top border-danger py-3">
        <span>SoFun карти ({{form.quantity}}): <span class="text-danger"> {{totalPrice}}лв.
            ({{priceEuro}}€)</span></span>
        <div class="d-flex">
          <p class="pr-1">Доставка: </p>
          <span class="text-danger" v-if="selectOption == 0">0лв.</span>
          <span v-if="selectOption == 6"> <span class="text-danger">
              {{form.deliveryToAddressPrice}}лв.</span></span>
          <span v-if="selectOption == 4.5"> <span class="text-danger"> {{form.ekontPrice}}лв. </span></span>
        </div>
      </div>
      <div class="d-flex flex-column align-items-end border-top py-3">
        <span class="total-price">Крайна цена: <span class="text-danger"> {{totalPrice}}лв. ({{priceEuro}}€)</span>
        </span>
      </div>
    </div>

  </div>

  <!-- Vue js -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- Custom js -->
  <script src="/index.js"></script>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>