body{
  background-color: gainsboro;
}
button {
  background-color: cornflowerblue;
  color: azure;
  border: none;
  padding: 10px 20px;
  border-radius: 5%;
}
.btn-next {
  background-color: #de222a !important;
}
.btn-next:hover {
  background-color: #c41b21 !important
}
button:focus {
  outline: none !important;
}   
button:hover {
  background-color: darkcyan;
}   
input,select {
  padding: 6px;
  margin-bottom: 0.5rem;
}
input:focus {
  outline: none !important;
  border: solid 2px cornflowerblue;
  }
.error{ 
  border: 1px solid red !important
}
#formSteps {
  display: flex;
  flex-direction: column;
  width: 600px; 
  margin: auto;
  background-color: white;
  margin: 1rem auto;
  padding: 3rem;
  border-radius: 5px;
}
.w-0 {
  width: 18%;
}
.tel-input {
  width: 32%;
}